body, h1{
    margin: 0;
}

header {
    background: darkslategray;
    color: white;
    font-family: sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}