html {
    font-family: sans-serif;
}

body, menu{
    margin: 0;
}

menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

menu h1, menu li {
    margin: 0;
    padding-left: 2em;
}

menu li a {
    color: white;
    text-decoration-line: none;
}

header {
    background: darkslategray;
    color: white;
}

menu {
    list-style-type: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}