html {
    font-family: sans-serif;
    height: 100%;
}

body, menu{
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    flex: 0 30px;
    background: darkslategray;
    color: white;
}

main {
    flex: 1;
}

body {
    height: 100%;
}

footer {
    flex: 0 30px;
}

menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}

menu h1, menu li {
    margin: 0;
    padding-left: 2em;
}

menu li a {
    color: white;
    text-decoration-line: none;
}


form input {
    margin-bottom: 1em;
}