html {
    font-family: sans-serif;
    height: 100%;
}

body {
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    margin: 0;
}

header {
    flex: 0 30px;
    background: darkslategray;
    color: white;
}

main {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    flex: 0 30px;

    background: slategray;
    color: lightgray;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0em 1em;
}

menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}

menu h1, menu li {
    margin: 0;
    padding-left: 2em;
    white-space: nowrap;
}

menu li a {
    color: white;
    text-decoration-line: none;
}

footer a {
    color: white;
}

img {
    margin: 1em;
}

input, button, select {
    background: gainsboro;
    border: none;
    padding: 0.75em 0.75em;
    border-radius: 8px;
    margin-bottom: 1em;
    width: 100%;
}


button, input[type=submit] {
    cursor: pointer;
}

select {
    width: 100%;
}

img {
    border-radius: 8px;
    box-shadow: 10px 10px 10px black;
}

#playerName {
    padding: 1em;
}